#data
/data/
/result/
/result_txt/
/sample_data_original_layout/
/sample_data/
/sample_data2/


# cache
/__pycache__/

# original
SprawlterEvaluator.java

# pipenv
Pipfile
Pipfile.lock
visualize.py

SprawlterEvaluator.py
visualize.py